<table class="table table-condensed">
  <tr>
    <td><h5 class="text-center">Captain</h5></td>
    <td><p class="text-center"><%= team.user_name %></p></td>
  </tr>
</table>

<% if team.users.size > 0 %>
<h2>Members</h2>
<div class="row">
  <% for i in 0..5 %>
    <div class="col-lg-2 col-md-2">
      <%  team.users.each_with_index do |u, index| %>
        <% if index % 6 == i %>
          <%= render "users/user", :u => u %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
