<div class="field">
  Start Time: <%= f.text_field(:start_time, :value => v['start_time'], :class => 'time_field') %>
</div>
<div class="field">
  End Time: <%= f.text_field(:end_time, :value => v['end_time'], :class => 'time_field') %>
 </div>

<script type="text/javascript">
  $(function(){
    $('.time_field').timepicker({});
  });
</script>

