  <div class="field">
    <%= f.label f.object.condition_type %><br>
    <% v = f.object.parsed_value %>
    <%= f.fields_for :value do |builder| %>
      <%= render "alert_condition_#{f.object.condition_type}_fields", :f => builder, :v => v %>
    <% end %>
 </div>
