<div class="field">
  Start Time: <%= f.time_select('start_time', :default => {:hour => v['start_time(4i)'], :minute => v['start_time(5i)']}) %>
</div>
<div class="field">
  End Time: <%= f.time_select('end_time', :default => {:hour => v['end_time(4i)'], :minute => v['end_time(5i)']}) %>
 </div>