<div class="form-group">
  Start Time: <%= f.text_field(:start_time, :value => v[:start_time], :class => 'time_field form-control') %>
</div>
<div class="form-group">
  End Time: <%= f.text_field(:end_time, :value => v[:end_time], :class => 'time_field form-control') %>
 </div>

<script type="text/javascript">
  $(function(){
    $('.time_field').datetimepicker({'datepicker': false, 'format': 'H:i'});
  });
</script>

