<div class="page-header">
  <h3 class="text-center h3-1-0">Alert Schedules</h3>
  <%= link_to new_alert_schedule_path, :class => "btn btn-success btn-left" do %>
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create
  <% end %>
</div>

<%= grid(@alert_schedules_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Alert Schedules found", class: 'well'
  end

  g.row_attributes do |object|
    { onclick: "maybeVisit(event, '#{url_for(object)}');" }
  end

  g.column name: 'Name', attribute: 'name' do |alert_schedule|
    alert_schedule.name
  end

  g.column do |alert_schedule|
    if current_user.owns(alert_schedule)
      link_to alert_schedule, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do
        raw '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Destroy'
      end
    end
  end
end -%>