<h1 class="text-center">Alert Schedules</h1>

<%= grid(@alert_schedules_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Alert Schedules found", class: 'well'
  end

  g.row_attributes do |object|
    { onclick: "maybeVisit(event, '#{url_for(object)}');" }
  end

  g.column name: 'Name', attribute: 'name' do |alert_schedule|
    alert_schedule.name
  end

  g.column do |alert_schedule|
    if current_user.owns(alert_schedule)
      link_to 'Edit', edit_alert_schedule_path(alert_schedule), :class => "btn btn-primary"
    end
  end

  g.column do |alert_schedule|
    if current_user.owns(alert_schedule)
      link_to 'Destroy', alert_schedule, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
    end
  end
end -%>


<%= link_to 'Create Alert Schedule', new_alert_schedule_path, :class => "btn btn-success" %>
