<h1 class="text-center">Game Locations</h1>

<%= grid(@game_locations_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Game Locations", class: 'well'
  end

  g.column name: 'User', model: User, attribute: 'name' do |gl|
    gl.user_name
  end

  g.column name: 'Game', model: Game, attribute: 'name' do |gl|
    gl.game_name
  end
  
  g.column name: 'Game Server', model: GameSocialServer, attribute: 'name' do |gl|
    gl.game_social_server_name
  end
  
  g.column name: 'Chat Server', model: ChatServer, attribute: 'name' do |gl|
    gl.chat_server_name
  end

  g.column do |gl|
    link_to 'Show', gl, :class => "btn btn-default"
  end

  g.column do |gl|
    link_to 'Edit',  edit_game_location_path(gl), :class => "btn btn-primary"
  end

  g.column do |gl|
    link_to 'Destroy', gl, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>
