<div class="user-box">
    <div class="user-text">
      <%= u.name %>
    </div>
    <div class="user-image">
      <%= image_tag(u.avatar_url, :size => "32x32", :class => "user-image") if u.avatar_url.present? %>
    </div>
</div>
