
<h1>Welcome to GameSocial</h1>

<p>To get started, take a look at the Lan Parties listed above. By joining a Lan Party or Event you'll see the upcoming games listed below. If you sign in with Google, you'll also get emailed calendar invites and updates to events.</p>

<p>You can also create your own Lan Parties and Events, as well as track chat servers and game servers on which to play.</p>

<% unless signed_in? %><p>Sign in with Google and Steam to use the application</p><% end %>

<% unless Rails.env == "production" %><p><b>Warning: This is a non-production environment, data may be lost at any time. Please use this environment for testing only.</b></p><% end %>

<% if signed_in? %>

	<p id="notice"><%= notice %></p>
	<% if current_user.upcoming_game_events.size > 0 %>
		<h3>Your Upcoming Events:</h3>
		<%= render "game_events/game_events" %>
	<% end %>
<% end %>

<div class="well">
<p>Unsure what to play? Try <a href="http://steamroulette.net">SteamRoulette</a>

<p>Find a bug? Want to request a new feature? Click <a href="https://github.com/bfosberry/GameSocial/issues/new">here</a></p>

<p>To Contribute to this project please visit <a href="https://github.com/bfosberry/GameSocial">https://github.com/bfosberry/GameSocial</a></p>
</div>