<h1>Welcome to GameSocial</h1>

<% unless signed_in? %><p>Sign in to use the application</p><% end %>

<p>To Contribute to this project please visit <a href="https://github.com/bfosberry/GameSocial">https://github.com/bfosberry/GameSocial</a></p>

<h3> News feed:</h3>
<table>
  <tr><th>User</th><th>Game</th><th>Time</th></tr>
  <% current_user.alerts.each do |a| %>
    <tr>
      <td><%= a.user_name %></td>
      <td><%= a.game_name %></td>
      <td><%= a.created_at %></td>
    </tr>
  <% end %>
</table>
