<h1>Welcome to GameSocial</h1>

<% unless signed_in? %><p>Sign in to use the application</p><% end %>

<p>To Contribute to this project please visit <a href="https://github.com/bfosberry/GameSocial">https://github.com/bfosberry/GameSocial</a></p>

