<h1 class="text-center">Users</h1>

<%= grid(@users_grid) do |g|
  g.column name: 'Provider', attribute: 'provider' do |user|
    user.provider
  end

  g.column name: 'Uid', attribute: 'uid' do |user|
    user.uid 
  end
  
  g.column name: 'Name', attribute: 'name' do |user|
    user.name
  end

  g.column name: 'Email', attribute: 'email' do |user|
    user.email
  end

  g.column name: 'Admin', attribute: 'admin' do |user|
    user.admin
  end
  
  g.column do |user|
    link_to 'Show', user, :class => "btn"
  end

  g.column do |user|
    link_to 'Edit', edit_user_path(user), :class => "btn" 
  end

  g.column do |user|
    link_to 'Destroy', user, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>

<%= link_to 'New User', new_user_path, :class => "btn btn-success" %>
