<div class="page-header">
  <%= link_to new_tournament_path, :class => "btn btn-success btn-left" do %>
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create
  <% end %>
  <% if @filter == "owned" %>
    <%= link_to tournaments_path, :class => "btn btn-success btn-right" do %>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show All
    <% end %>
  <% else %>
    <%= link_to "#{tournaments_path}/?filter=owned", :class => "btn btn-success btn-right" do %>
       <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> Joinable
    <% end %>
  <% end %>
  <h3 class="text-center h3-1-1">Tournaments</h3>
</div>

<%= grid(@tournaments_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Tournaments found", class: 'well'
  end

  g.row_attributes do |object|
    { onclick: "maybeVisit(event, '#{url_for(object)}');" }
  end

  g.column name: 'Name', attribute: 'name' do |tournament|
    tournament.name 
  end

  g.column name: 'Game', model: Game, attribute: 'name' do |tournament|
    tournament.game_name 
  end

  g.column name: 'Lan Party', model: Event, attribute: 'name' do |tournament|
    tournament.event_name 
  end

  g.column do |tournament|
    if current_user && current_user.owns(tournament)
      link_to tournament, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do
        raw '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Destroy'
      end
    end
  end
end -%>