<h1 class="text-center">Tournaments</h1>

<%= grid(@tournaments_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Tournaments found", class: 'well'
  end

  g.row_attributes do |object|
    { onclick: "maybeVisit(event, '#{url_for(object)}');" }
  end

  g.column name: 'Name', attribute: 'name' do |tournament|
    tournament.name 
  end

  g.column name: 'Game', model: Game, attribute: 'name' do |tournament|
    tournament.game_name 
  end
  
  g.column do |tournament|
    if current_user && current_user.owns(tournament)
      link_to 'Edit', edit_tournament_path(tournament), :class => "btn btn-primary" 
    end
  end

  g.column do |tournament|
    if current_user && current_user.owns(tournament)
      link_to 'Destroy', tournament, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
    end
  end
end -%>

<%= link_to 'Create Tournament', new_tournament_path, :class => "btn btn-success" %>
