<h1 class="text-center">LAN Parties</h1>

<%= grid(@events_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No LAN Parties found", class: 'well'
  end

  g.row_attributes do |object|
    { onclick: "maybeVisit(event, '#{url_for(object)}');" }
  end

  g.column name: 'Name', attribute: 'name' do |event|
    event.name 
  end
  
  g.column name: 'Start Time', attribute: 'start_time' do |event|
    event.formatted_start_time 
  end
  
  g.column name: 'End Time', attribute: 'end_time' do |event|
    event.formatted_end_time
  end
  
  g.column name: 'Owner', model: User, attribute: 'name' do |event|
    event.user_name
  end
  
  g.column name: 'Location', attribute: 'location' do |event|
    event.location 
  end
  
  g.column do |event|
    if current_user
      render "users/attend", :attending => current_user.attending_event?(event), :join => join_event_path(event), :leave =>  leave_event_path(event)
    end
  end

  g.column do |event|
    if current_user && current_user.owns(event)
      link_to 'Edit', edit_event_path(event), :class => "btn btn-primary" 
    end
  end

  g.column do |event|
    if current_user && current_user.owns(event)
      link_to 'Destroy', event, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
    end
  end
end -%>

<%= link_to 'Create Lan Party', new_event_path, :class => "btn btn-success"  %>