<div class="modal" id="gameModal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Add a Game</h4>
        </div>
        <%= form_for(@game, :url => user_game_path(@user), :html => {:class => "form-horizontal"}) do |f| %>

        <div class="modal-body">
          <p>Your Steam account is synced every time you log in, but you want to add a game external to steam, you can do so here.</p>

          <p>Select a game to add</p>
          <div>
            <%= f.label "Game", :class => "help-inline" %><br>
            <%= f.collection_select :id, @user.games_not_owned, :id, :name, {}, {:class => "form-control"} %>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <%= f.submit "Submit", :class => "btn btn-success" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
</div>