<h1 class="text-center">Games</h1>

<%= grid(@games_grid) do |g|

  g.column name: 'Icon', attribute: 'logo_url', filter: false do |game|
    image_tag(game.logo_url, :crop => :fill, :class => "game_image")
  end

  g.column name: 'Type', attribute: 'provider' do |game|
    game.provider
  end

  g.column name: 'Name', attribute: 'name' do |game|
    game.name
  end
  
  g.column do |game|
    link_to 'Show', game, :class => "btn btn-default"
  end

  g.column do |game|
    link_to 'Edit', edit_game_path(game), :class => "btn btn-primary" 
  end

  g.column do |game|
    link_to 'Store', game.store_url, :class => "btn btn-link" 
  end

  g.column do |game|
    link_to 'Destroy', game, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>

<%= link_to 'New Game', new_game_path, :class => "btn btn-success" %>
