defaults: &defaults
  steam_api_key: "123"
  smtp_username: "username"
  stmp_password: "password"
  stmp_server:   "smtp.google.com"
  smtp_port:     "123"

development:
  <<: *defaults

test:
  <<: *defaults
  smtp_username: "username"
  stmp_password: "password"

production:
  <<: *defaults

