<h1 class="text-center">Alerts</h1>

<%= grid(@alerts_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Alerts found", class: 'well'
  end

  g.column name: 'Schedule', model: AlertSchedule, attribute: 'name' do |alert|
    alert.schedule_name
  end

  g.column name: 'Name', attribute: 'title' do |alert|
    alert.title
end

  g.column name: 'Description', attribute: 'description' do |alert|
    alert.description
  end

  g.column do |alert|
    link_to 'Show', alert, :class => "btn btn-default"
  end

  g.column do |alert|
    if current_user.is_admin?
      link_to 'Edit', edit_alert_path(alert), :class => "btn btn-primary"
    end
  end

  g.column do |alert|
    if current_user.owns(alert)
      link_to 'Destroy', alert, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
    end
  end
end -%>

<%= link_to 'Create Alert', new_alert_path, :class => "btn btn-success" %>