<h1 class="text-center">Chat Servers</h1>

<%= grid(@chat_servers_grid) do |g|
  g.column name: 'Name', attribute: 'name' do |chat_server|
    chat_server.name
  end

  g.column name: 'Type', attribute: 'server_type' do |chat_server|
    chat_server.server_type 
  end
  
  g.column name: 'Ip', attribute: 'ip' do |chat_server|
    chat_server.ip
  end

  g.column name: 'Port', attribute: 'port' do |chat_server|
    chat_server.port
  end

  g.column name: 'Owner', model: User, attribute: 'name' do |chat_server|
    chat_server.user_name
  end
  
  g.column name: 'Public', attribute: 'public' do |chat_server|
    chat_server.public
  end
  
  g.column do |chat_server|
    link_to 'Show', chat_server, :class => "btn"
  end

  g.column do |chat_server|
    link_to 'Edit', edit_chat_server_path(chat_server), :class => "btn" 
  end

  g.column do |chat_server|
    link_to 'Destroy', chat_server, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
  end
end -%>

<%= link_to 'Create Chat Server', new_chat_server_path, :class => "btn btn-success" %>
