<div class="page-header">
  <h3 class="text-center h3-1-0">Chat Servers</h3>
  <%= link_to new_chat_server_path, :class => "btn btn-success btn-left" do %>
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Create
  <% end %>
</div>

<%= grid(@chat_servers_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Chat Servers found", class: 'well'
  end

  g.row_attributes do |object|
    { onclick: "maybeVisit(event, '#{url_for(object)}');" }
  end

  g.column name: 'Name', attribute: 'name' do |chat_server|
    chat_server.name
  end

  g.column name: 'Type', attribute: 'server_type' do |chat_server|
    chat_server.server_type 
  end
  
  g.column name: 'Ip', attribute: 'ip' do |chat_server|
    chat_server.ip
  end

  g.column name: 'Port', attribute: 'port' do |chat_server|
    chat_server.port
  end

  g.column name: 'Owner', model: User, attribute: 'name' do |chat_server|
    chat_server.user_name
  end

  g.column do |chat_server|
    if current_user.owns(chat_server)
      link_to 'Destroy', chat_server, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do
        raw '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Destroy'
      end
    end
  end
end -%>