/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery.datetimepicker
 *= require jquery-ui
 *= require fullcalendar
 *= require social-share-button
 *= require_self
 *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar
{
    white-space: nowrap;
}

.content 
{
    padding-top: 50px;
}

.nav-button
{
    vertical-align: middle;
    display: inline-block;
    margin: 9px 5px 9px 5px;
}

a#nav-button-container 
{
	padding-top: 0px;
	padding-bottom: 0px;
}

.game_image {
	max-width: 170px;
}

.small_game_image {
	max-width: 100px;
}

.odd:hover {
  background-color: #eee !important;
  cursor: pointer;
  cursor: hand;
}

.even:hover {
  background-color: #eee;
  cursor: pointer;
  cursor: hand;
}

.tab-content {
  padding: 10px 0px 10px 0px;
}

.page-header {
  display: inline-block;
  margin: auto;
  width:100%;
  padding: 10px 0px 10px 0px;
}

.page-header h3 {
  float: right;
  margin: 0 auto;
  width: 57%;
}

.page-header .btn {
  margin: 0px 10px 0px 10px;
  width: 100px;
}

.btn-right {
  float: right;
  width: 100px;
}

.share-panel div{
  display: inline-block;
  vertical-align: middle;
}

.share-panel p{
  display: inline-block;
  margin-right:10px;
  margin-top:8px;
  vertical-align: middle;
}

h2 {
    text-align: center;
}

.tab-pane h2 {
  float: right;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 10px;
}

.tab-pane .btn {
  margin: 0px 10px 0px 10px;
  width: 200px;
}

.section-header {
  padding-bottom: 10px;
}

.section-header h3 {
  float: right;
  margin: 0 auto;
  width: 57%;
}

.tab-pane .section-header-centered h2 {
  float: none;
}

.btn-alone {
  margin-bottom: 10px;
}

.h3-1-0 {
  margin: 0 auto;
  width: 80%;
  margin-right: 100px;
}

.h3-0-0 {
  text-align: center;
  float: none !important;
}

.page-header .h3-1-1 {
  margin: 0 auto;
  width: 77%;
}

.page-header .h3-2-1 {
  margin: 0 auto;
  width: 55%;
  margin-right: 100px;
}

.media-left {
  max-width: '';
}