<table class="table table-bordered">

  <tbody>

    <tr><th>Name</th><th>Game</th><th>Start Time</th><th>Starts In</th><th>Link</th></tr>
    <% game_events.each do |ge|%>
  	<tr>
      <%= render "game_events/game_event", :ge => ge %>
    </tr>
    <% end %>
  </tbody>
</table>