<h1 class="text-center">Events</h1>
      
<%= grid(@game_events_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No events found", class: 'well'
  end
  
  g.column name: 'Title', attribute: 'title' do |game_event|
    game_event.title
  end

  g.column name: 'Game', model: Game, attribute: 'name' do |game_event|
    game_event.game_name
  end

  g.column name: 'Owner', model: User, attribute: 'name' do |game_event|
    game_event.user_name
  end
  
  g.column name: 'Game Server', model: GameSocialServer, attribute: 'name' do |game_event|
    game_event.game_social_server_name
  end

  g.column name: 'Chat Server', model: ChatServer, attribute: 'name' do |game_event|
    game_event.chat_server_name
  end
  
  g.column name: 'Start Time', attribute: 'game_start_time' do |game_event|
    game_event.formatted_start_time
  end

  g.column name: 'End Time', attribute: 'game_end_time' do |game_event|
    game_event.formatted_end_time
  end
  
  g.column do |game_event|
    link_to 'Show', game_event, :class => "btn btn-default"
  end
  
  g.column do |game_event|
    if current_user
      if current_user.attending_game_event?(game_event)
        link_to 'Leave', leave_game_event_path(game_event), :class => "btn btn-warning"
      else
        link_to 'Join', join_game_event_path(game_event), :class => "btn btn-success"
      end
    end
  end

  g.column do |game_event|
    if current_user && current_user.owns(game_event)
      link_to 'Edit', edit_game_event_path(game_event), :class => "btn btn-primary" 
    end
  end

  g.column do |game_event|
    if current_user && current_user.owns(game_event)
      link_to 'Destroy', game_event, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
    end
  end
end -%>

<%= link_to 'Create Event', new_game_event_path, :class => "btn btn-success" %>