<h1 class="text-center">Game Servers</h1>

<%= grid(@game_social_servers_grid) do |g|

  g.blank_slate  do
    content_tag :div, "No Game Servers found", class: 'well'
  end

  g.column name: 'Name', attribute: 'name' do |game_social_server|
    game_social_server.name
  end

  g.column name: 'Game', model: Game, attribute: 'name' do |game_social_server|
    game_social_server.game_name 
  end
  
  g.column name: 'Ip', attribute: 'ip' do |game_social_server|
    game_social_server.ip
  end

  g.column name: 'Port', attribute: 'port' do |game_social_server|
    game_social_server.port
  end

  g.column name: 'Owner', model: User, attribute: 'name' do |game_social_server|
    game_social_server.user_name
  end

    g.column name: 'Max Players', attribute: 'max_players' do |game_social_server|
    game_social_server.max_players
  end

  g.column name: 'Current Players', attribute: 'current_players' do |game_social_server|
    game_social_server.current_players
  end

  g.column name: 'Match Type', attribute: 'match_type' do |game_social_server|
    game_social_server.match_type
  end


  g.column name: 'Region', attribute: 'region' do |game_social_server|
    game_social_server.region
  end


  g.column name: 'Latency', attribute: 'latency' do |game_social_server|
    game_social_server.latency
  end


  g.column name: 'Current Map', attribute: 'current_map' do |game_social_server|
    game_social_server.current_map
  end

  
  g.column do |game_social_server|
    link_to 'Show', game_social_server, :class => "btn btn-default"
  end

  g.column do |game_social_server|
    if current_user.owns(game_social_server)
      link_to 'Edit', edit_game_social_server_path(game_social_server), :class => "btn btn-primary" 
    end
  end

  g.column do |game_social_server|
    if current_user.owns(game_social_server)
      link_to 'Destroy', game_social_server, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }
    end
  end
end -%>

<%= link_to 'Create Game Server', new_source_game_social_server_path, :class => "btn btn-success" %>